.tutors {
  padding-block: 64px 48px;
}

.sorting {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.search {
  width: 100%;
}

.search input {
  width: 100%;
}

.filter {
  min-width: fit-content;

  &:hover {
    color: #7232f2;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding-block: 32px 40px;
}

.load {
  width: 100%;
  color: #171717;
  font-size: 28px;
  font-weight: 700;
  border-radius: 24px;
  background: #f2f4f5;
  padding: 32px;
  transition: .2s;

  &:hover {
    opacity: .7;
  }
}
