.btn {
  padding: 28px 26px;
  color: #adafb0;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: 0.2s;

  &:hover {
    color: #3b3b3b;
  }

  svg {
    grid-area: icon;
  }

  span {
    grid-area: text;
  }
}
