@font-face {
  font-family: "Nexa";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Nexa-Trial-ExtraBold.ttf");
}

@font-face {
  font-family: "Nexa";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Nexa-Trial-Bold.ttf");
}

@font-face {
  font-family: "Nexa";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Nexa-Trial-Regular.ttf");
}

@font-face {
  font-family: "Nexa";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Nexa-Trial-Light.ttf");
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: "Nexa", sans-serif;
  color: #171717;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.11;
  background-color: #ffffff;
}

#root {
  min-width: 320px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

img,
svg {
  padding: 0;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: 0;
  background-color: #f2f4f5;
  border-radius: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/* swiper styles */
.swiper-slide {
  max-width: 296px;
}

.swiper-wrapper {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
  background: #f2f4f5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 120px;
  border-radius: 0;
  color: #adafb0;
}

.custom-swiper-button-prev {
  left: 0;
}

.custom-swiper-button-next {
  right: 0;
}
/* swiper styles end */